<h1> List of users </h1>

<form action="/insert_user/">
<label for="new_user">Username</label>
<input id="new_user" name="query_new_user"> </input>
<button>Add user </button>
</form>

<table border="1">
<tr>
<th>ID</th>
<th>Username</th>
<th></th>
</tr>

<% @list_of_users.each do |user| %>
<tr>
<td>
<%= user.id %>
</td>

<td>
<%= user.username %>
</td>

<td>
<a href="/users/<%= user.username %> "> Show details </a>
</td>

</tr>
<% end %>
</table>
